	.contact p {
		text-align: center;
		@media #{$mobile} {
			text-align: left;
		}
	}


	.social-media-outlets {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		padding-top: 10px;
		text-align: center;
		@media #{$mobile} {
			-webkit-flex-direction: column;
			flex-direction: column;
		}
	}

	.social-media {
		flex: 1 0 auto;
		@media #{$mobile} {
			padding-top: 20px;
			&:first-child {
				padding-top: 10px;
			}
		}
	}

	.social-media-icon {
		font-size: 100px;
		font-size: 10rem;
	}