.crew-member {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	@media #{$mobile} {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

.crew-photo {
	margin-right: 2.5%;
	@media #{$mobile} {
		margin: 0 auto;
	}
	img {
		margin: 0 auto;
		max-width: 100%;
		display: block;
		border-radius: 50%;
		@media #{$small-mobile} {
			max-width: 75%;
		}
	}
}

.crew-info {
	flex: 1 0 65%;
	@media #{$mobile} {
		margin-top: 10px;
		h2,
		h3 {
			text-align: center;
		}
	}
}