.crew-member {
	display: flex;
	@media #{$mobile} {
		flex-wrap: wrap;
	}
}

.crew-photo {
	margin-right: 2.5%;
	flex: 1 0 auto;
	@media #{$mobile} {
		flex: 1 0;
		margin-right: 0;
	}
	img {
		margin: 0 auto;
		max-width: 100%;
		display: block;
		@include border-radius(50%);
		@media #{$small-mobile} {
			max-width: 75%;
		}
	}
}

.crew-info {
	@media #{$mobile} {
		margin-top: 10px;
		h2,
		h3 {
			text-align: center;
		}
	}
}