// normalize - start
	article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
	input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
// normalize - end


//borderbox - start
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;box-sizing: border-box;
	 }
//borderbox - end


// clearfix - start
	.clearfix:after {
	   content: " ";
	   visibility: hidden;
	   display: block;
	   height: 0;
	   clear: both;
	}
// clearfix - end

// body - start
	body {
		overflow-x: hidden;
	}
// body - end


// main - start
	main {
		background-image: url('./img/background/textured-background.png');
		background-repeat: repeat;
	}
// main - end


// container - start
	.container {
		margin: 0 auto; 
		max-width: 1200px;
		padding: 0 2.5%;
	}
// container - end


.banner {
	img {
		// opacity: .15;
		width: 100%;
		display: block;
	}
}

@media all and (max-width: 768px) {
	.banner {
		padding-top: 45px;
	}
}

section {
	padding: 25px 0;
	&:nth-child(even){
		background-image: url('./img/background/textured-background.png');
		background-repeat: repeat;
		color: $grey;
	}
	&:nth-child(odd) {
		background-image: url('./img/background/textured-background-green.png');
		background-repeat: repeat;
		color: white;
	}
}


// Directional Arrow - start
.prev, .next, .arrow-down {
	fill: #2A3737;
	max-width: 75px;
	height: auto;
	&:hover {
		fill: white;
	}
}

.arrow-down {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	padding-bottom: 20px;
}

.prev, .next {
	&:hover {
		cursor: pointer;
	}
}
// Directional Arrow - end


// Radio Button - start
[type="radio"] {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px;
}

[type="radio"] + span::before {
	content: '';
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: -0.25em;
	border-radius: 1em;
	border: 0.125em solid white;
	box-shadow: 0 0 0 0.15em white;
	margin-right: 0.75em;
	background: white;
	transition: 0.3s ease all;
}

[type="radio"]:checked + span::before {
	background: $hover;
	box-shadow: 0 0 0 0.25em $hover;
}
// Radio Button - end