// Website Opening - start

	.filmography {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		padding-top: 20px;
	}
	.film {
		flex: 1 0 auto;
	}

	@media all and (max-width: 768px) {
		.filmography {
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: column;
				flex-direction: column;
		}

		.film {
			flex: 1 0 auto;
			padding-top: 20px;
			&:first-child {
				padding-top: 10px;
			}
		}
	}
		 
// Website Opening - end