// Website Opening - start

	.filmography-quote {
		width: 50%;
		margin: 0 auto;
		p {
			padding-bottom: 0;
			text-align: left;
			width: 480px;
			margin: 0 auto;
		}
	}

	@media all and (max-width:768px) {
		.filmography-quote {
			width: 100%;
		}
	}

	@media all and (max-width: 480px) {
		.filmography-quote {
			p {
				width: 100%;
			}
		}
	}

	.filmography {
		padding-top: 20px;
		&:nth-child(even) {
			background-image: url('./img/background/textured-background-green.png');
			background-repeat: repeat;
			color: white;
		}
		&:nth-child(odd) {
			background-image: url('./img/background/textured-background.png');
			background-repeat: repeat;
			color: $grey;
		}
	}

	.film {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	.video {
		position: relative;
		padding-bottom: 25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		flex: 1 0 50%;
		margin-top: 7px;
	}

	.video iframe,
	.video object,
	.video embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.zaritsky-on-work {
		padding-bottom: 56.25%;
		margin: 25px auto;
	}

	.film-info {
		margin-left: 2.5%;
		width: 50%;
		margin-top: 20px;
	}

	.title {
		margin-bottom: 10px;
	}

	@media all and (max-width: 768px) {
		.film {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
		}

		.film-info {
			margin-left: 0;
			width: 100%;
		}

		.video {
			margin: 2% 0;
			padding-bottom: 56.25%;
		}

		.title {
			margin-bottom: 0;
		}
	}

// Website Opening - end