// Website Opening - start

	.filmography-quote {
		margin: 0 auto;
		@media #{$mobile} {
			width: 100%;
		}
		@media #{$tablet} {
			width: 62.5%;
		}
		p {
			padding-bottom: 0;
			text-align: left;
			width: 480px;
			margin: 0 auto;
			@media #{$mobile} {
				width: 100%;
			}
		}
	}

	.filmography {
		padding-top: 20px;
		&:nth-child(even) {
			background-image: url('./img/background/textured-background-green.png');
			background-repeat: repeat;
			color: white;
		}
		&:nth-child(odd) {
			background-image: url('./img/background/textured-background.png');
			background-repeat: repeat;
			color: $grey;
		}
	}

	.film {
		display: flex;
		flex-direction: row;
		@media #{$mobile} {
			flex-direction: column;
		}
	}

	.video {
		flex: 1 0;
	}

	.zaritsky-on-work {
		// padding-bottom: 56.25%;
		margin: 25px auto;
	}

	.film-info {
		margin-left: 2.5%;
		width: 50%;
		@media #{$mobile} {
			margin-top: 20px;
			margin-left: 0;
			width: 100%;
		}
	}

	.title {
		margin-bottom: 10px;
		@media #{$mobile} {
			margin-bottom: 0;
			text-align: center;
		}
	}

	.year {
		font-weight: 100;
	}
// Website Opening - end