// Website Opening - start
	.hero {
		height: 90vh;
		background-image:
			url('./img/background/home_background.jpg');
		background-size: cover;
		background-repeat: no repeat;
		background-position: right;
		.vertical-align {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			@media #{$tablet} {
				top: 63%;
			}
			@media #{$desktop} {
				top: 67%;
			}
			@media #{$desktop-large} {
				top: 70%;
			}
			@media #{$mobile} {
				top: 65%;
			}

		}
		h1 {
			font-family: impactregular, $oswald;
			@include font-size(8.5);
			width: 100%;
			text-transform: uppercase;
			line-height: .875;
			text-align: right;
			color: darken(white, 20%);
			letter-spacing: -0.5px;
			text-shadow: 1px 1px 25px #333;
			font-weight: 100;
			.on_tv {
				@include font-size(12);
				letter-spacing: -2.5px;
				@media #{$tablet} {
					@include font-size(16);
				}
				@media #{$mobile} {
					@include font-size(10);
				}
			}
			@media #{$tablet} {
				width: 59%;
			}
			@media #{$desktop} {
				@include font-size(10);
				width: 52%;
			}
			@media #{$desktop-large} {
				width: 44%;
			}
			@media #{$mobile} {
				@include font-size(5);
				width: 45%;
			}
			@media #{$small-mobile} {
				width: 70%;
			}
			@media #{$iphone4} {
				width: 45%;
			}
			@media #{$iphone6} {
				width: 59%;
			}
			@media #{$iphone6plus} {
				width: 53%;
			}
		}
		.arrow-down {
			transition: all 0.3s;
			width: 50px;
		}
	}

	.project-details {
		.project-info {
			color: white;
			width: 80%;
			margin: 15px auto;
			@media #{$mobile} {
				width: 100%;
			}
		}
	}

	.coming-soon-button {
		display: block;
		margin: 0 auto;
		text-align: center;
		font-family: $oswald;
		transition: all 0.3s;
		@include letter-spacing(.2);
		@include font-size(2.8);
		background: $link;
		color: white;
		padding: 2.5%;
		@include border-radius(10px);
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 20px;
		outline: none;
		border: 1px solid $link;
		fill: $hover;
		&:hover {
			background: $hover;
			border: 1px solid $hover;
			color: $link;
			fill: $link;
		}
		.large-documentary-logo {
			height: 74px;
			width: auto;
			vertical-align: middle;
			@media #{$mobile} {
				width: 50px;
			}
		}
	}

// Website Opening - end

section.project-details {
	background-image: url('./img/background/textured-background-green.png');
	background-repeat: repeat;
}