// Nav Menu - start
	.main-navigation {
		width: 100%;
		height: 100%;
		z-index: 100;
		top: 0;
		right: 0;
		position: fixed;
		background: darken($blue, 6%);
		transform: translateX(100%);
		transition: transform 0.75s ease;
		overflow: scroll;

		// Menu Typography - start

		.menu-items {
			clear: both;
			text-align: left;
			font-family: $oswald;
			text-transform: uppercase;
			padding-left: 10px;
			a {
				font-size: 4rem;
				color: $gold;
				transition: all 0.3s;
				position: relative;
				text-decoration: none;
				&:hover {
					color: $hover;
				}
			}

			ul {
				padding: 0;
				li {
					padding: 0;
					margin-bottom: 25px;
					list-style-type: none;
					line-height: 1.1;
					&.menu-item-50, &.menu-item-51 {
						display:none;
						@media #{$mobile} {
							display:block;
						}
					}
				}
			}
		}
		// Menu Typography - end
	}


	nav.open {
		transform: translateX(0%);
	}
// Nav Menu - end

// Buttons - start
	.wrapper {
		position: fixed;
		padding: 1rem 0;
		background: $blue;
		z-index: 100;
		width: 100%;
	}

	.menu-buttons {
		float: right;
	}

	.menu-button {
		float: left;
		transition: all 0.3s;
		&:first-child {
			margin-right: 15px;
		}
		&:last-child {
			margin-left: 30px;
		}
		&:hover {
			cursor: pointer;
		}
		.menu,
		.facebook,
		.twitter {
			fill: $gold;
			transition: all 0.3s;
			width: 40px;
			padding: 0;
			&:hover {
				fill: $hover;
			}
		}
		@media #{$mobile} {
			&:first-child {
				margin-right: 0px;
			}
			&:last-child {
				margin-left: 0px;
			}
			.facebook,
			.twitter {
				display: none;
			}
		}
		@media #{$mobile} {
			.menu {
				width: 32px;
			}
		}
	}

	.exit-button {
		float: right;
		margin-top: 1rem;
		width: 40px;
		height: 35px;
		margin-left: 5px;
		.close {
			fill: $gold;
			transition: all 0.3s;
			&:hover {
				fill: $hover;
				cursor: pointer;
			}
		}
		@media #{$mobile} {
			width: 32px;
		}
	}

	.site-title {
		a {
			float: left;
			font-family: $oswald;
			text-transform: uppercase;
			@include font-size(2.4);
			color: $gold;
			&:hover {
				color: white;
			}
		}
	}
// Buttons - end