.news-story {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	@media #{$mobile} {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

.news-photo {
	margin-right: 2.5%;
	@media #{$mobile} {
		margin: 0 auto;
		width: 200px;
	}
}

.news-brief {
	@media #{$mobile} {
		margin-top: 10px;
	}
}

.read-more-button {
	margin-top: 10px;
	display: block;
	width: 150px;
	text-align: center;
	font-family: $oswald;
	transition: all 0.3s;
	@include font-size(2.8);
	background: transparent;
	color: $link;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	outline: none;
	padding: 0;
	border: 3px solid $link;
	@media #{$mobile} {
		margin-left: auto;
		margin-right: auto;
	}		
	&:hover {
		border-color: $hover;
		color: $hover;
	}
}