.slick-slider {
	margin-bottom: 0;
}

.slide-content {
	background-color: pink;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 294px);
	> .slides {
		flex: 1;
	}
}

.written-info {
	padding-top: 25px;
}

.slide {
	display: flex;
	flex-direction: row;
}

.next, .prev {
    flex: 1 0 10%;
}

.next {
    padding-left: 15px;
}

.prev {
    padding-right: 15px;
}