.degree-intro {
	padding-top: 20px;
	&:nth-child(even) {
		background-image: url('./img/background/textured-background-green.png');
		background-repeat: repeat;
		color: white;
	}
	&:nth-child(odd) {
		background-image: url('./img/background/textured-background.png');
		background-repeat: repeat;
		color: $grey;
	}
}


.degree-option {
	height: calc(100vh - 270px);
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}

.row {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	width: 100%;
}

// Hover State
.degree {
    position:relative;
    &:after {
		content:'\A';
		position:absolute;
		width:100%;
		height:100%;
		top:0; left:0;
		background:rgba(0,0,0,0.35);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
    }
    &:hover:after {
    	opacity: 1;
    }
}

.degree-1 {
	background-image:
		linear-gradient(
			rgba(255, 228, 181, 0.5), 
			rgba(255, 228, 181, 0.5)
		),
		url("./img/background/atom-egoyan.png");
}

.degree-2 {
	background-image:
		linear-gradient(
			rgba(189, 183, 107, 0.5), 
			rgba(189, 183, 107, 0.5)
		),
		url("./img/background/joni-mitchell.png");
}

.degree-3 {
	background-image:
		linear-gradient(
			rgba(255, 228, 181, 0.5), 
			rgba(255, 228, 181, 0.5)
		),
		url("./img/background/paul-thomas-anderson.png");
}

.degree-4 {
	background-image:
		linear-gradient(
			rgba(189, 183, 107, 0.5), 
			rgba(189, 183, 107, 0.5)
		),
		url("./img/background/roseanne-barr.png");
}

.degree-5 {
	background-image:
		linear-gradient(
			rgba(255, 228, 181, 0.5), 
			rgba(255, 228, 181, 0.5)
		),
		url("./img/background/sarah-gilbert.png");
}

.degree-6 {
	background-image:
		linear-gradient(
			rgba(189, 183, 107, 0.5), 
			rgba(189, 183, 107, 0.5)
		),
		url("./img/background/atom-egoyan.png");
}

.degree-1,
.degree-2,
.degree-3,
.degree-4,
.degree-5,
.degree-6 {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@media all and (max-width: 768px) {
	.degree-option {
		display: block;
	}

	.degree-1, .degree-2, .degree-3, .degree-4, .degree-5, .degree-6 {
		background-position: center 30%;
	}

	.row {
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		height: 33.33%;
	}

	.degree-1, .degree-2, .degree-3, .degree-4, .degree-5, .degree-6 {
		width: 100%;
	}
}

@media all and (max-width: 480px) {
	.degree-option {
		height: calc(100vh - 150px);
	}

	.row {
		flex-direction: column;
		-webkit-flex-direction: column;
	}

	.degree-1, .degree-2, .degree-3, .degree-4, .degree-5, .degree-6 {
		width: 100%;
		height: 100vh;
	}

	.degree-1, .degree-2, .degree-3, .degree-4, .degree-5, .degree-6 {
		background-position: center 32.5%;
	}
}

@media all and (min-width: 1200px) {
	.degree-option {
		height: calc(100vh - 380px);
	}
}