.slick-slider {
	margin-bottom: 0;
}

.slide-content {
	background-color: pink;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 294px);
	> .slides {
		flex: 1;
	}
}

.written-info {
	padding: 25px 0;
}