.degree-intro {
	&:nth-child(even) {
		background-image: url('./img/background/textured-background-green.png');
		background-repeat: repeat;
		color: white;
	}
	&:nth-child(odd) {
		background-image: url('./img/background/textured-background.png');
		background-repeat: repeat;
		color: $grey;
	}
}

.degree-options {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 25px;
}

.option-link {
	margin: 25px;
	&:hover {
		.degree-option {
			opacity: .75;
		}
		.slide-info {
			.title-arrow {
				fill: white;
			}
		}
	}
	.degree-option {
		@include border-radius(50%);
		max-width: 225px;
		display: block;
		margin: 0 auto;
		transition: all 0.3s ease;
	}
	.slide-info {
		text-align: center;
		.title-arrow {
			transition: all 0.3s ease;
			width: 14px;
			height: auto;
			fill: $grey;
			@media #{$mobile} {
				width: 11px;
				height: auto;
			}
		}
	}
}
