// Main Typography for entire document - start
	html {
		font-size: 62.5%;
		@media #{$small-mobile} {
			font-size: 50%;
		}
	}

	body {
		color: $grey;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		padding: 0;
	}
	
	.banner {
		.container {
			position: relative;
			h1 {
				position: absolute;
				bottom: 0;
				right: 3%;
				font-family: $oswald;
				@include font-size(5);
				text-transform: uppercase;
				line-height: 1;
				text-align: right;
			}	
		}
	}

	section,
	.slide-info {
		h2 {
			margin-bottom: 10px;
		}
		p {
			@include font-size(2);
			font-family: $sourcepro;
			font-weight: 400;
		}
	}


	a {
		color: $link;
		transition: all 0.3s;
		text-decoration: none;
		&:visited {
			text-decoration: none;
		}
		&:hover {
			color: $hover;
			
		}
	}

	.crew-info,
	.title,
	.about,
	.slide-info {
		h2 {
			font-family: $oswald;
			font-weight: 400;
			text-transform: uppercase;
			@include font-size(3);
		}
		h3 {
			font-family: $oswald;
			font-weight: 300;
			text-transform: uppercase;
			@include font-size(2.4);
		}
	}

	.about {
		h2 {
			text-align: center;
		}
	}

	.paragraph-link,
	p.return-to-six-degrees {
		font-family: $oswald;
		text-transform: uppercase;
		font-weight: 700;
	}

	.paragraph-link {
		@include font-size(2);
		text-decoration: underline;
	}

	p.return-to-six-degrees {
		@include font-size(2.4);
	}

	.degree-intro {
		p {
			@include font-size(2.4);
			.degree {
				@include font-size(2.55);
			}
		}
	}

	.film-title {
		text-decoration: underline;
	}

	.degree {
		font-family: $oswald;
		text-transform: uppercase;
		color: lighten($blue, 25%);
		@include font-size(1.95);
	}