// Main Typography for entire document - start
	html {
		font-size: 62.5%;
		@media #{$small-mobile} {
			font-size: 50%;
		}
	}

	body {
		color: $grey;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		padding: 0;
	}
	
	.banner {
		.container {
			position: relative;
			h1 {
				position: absolute;
				bottom: 0;
				right: 3%;
				font-family: $oswald;
				@include font-size(5);
				text-transform: uppercase;
				line-height: 1;
				text-align: right;
			}	
		}
	}

	section {
		p {
			@include font-size(2);
			font-family: $sourcepro;
		}
	}


	a {
		color: $link;
		transition: all 0.3s;
		text-decoration: none;
		&:visited {
			text-decoration: none;
		}
		&:hover {
			color: $hover;
			
		}
	}

	.crew-info,
	.title,
	.about,
	.written-info {
		h2 {
			font-family: $oswald;
			text-transform: uppercase;
			@include font-size(3);
		}
		h3 {
			font-family: $oswald;
			text-transform: uppercase;
			@include font-size(2.4);
		}
	}

	.title,
	.about,
	.written-info {
		h2 {
			text-align: center;
		}
	}

	.written-info {
		p {
			@include font-size(2);
			font-family: $sourcepro;
		}
	}