// Variables - Start
	// color - start
	$blue: #2a3737;
	$grey: #696969;
	$gold: #bdb76b;
	$link: $blue;
	$hover: white;

	$oswald: 'Oswald', sans-serif;
	$sourcepro: 'Source Sans Pro', sans-serif;

	// color - end
// Variables - end


//mixins - start

//mixins - end