// Variables - Start
	// color - start
		$blue: #2a3737;
		$grey: #696969;
		$gold: #bdb76b;
		$link: $blue;
		$hover: white;
	// color - end

	// Fonts - start
		$oswald: 'Oswald', sans-serif;
		$sourcepro: 'Source Sans Pro', sans-serif;
	// Fonts - end
// Variables - end


//mixins - start
	// Media Queries - start
		$desktop-large: 'all and (min-width: 1200px)';
		$desktop: 'all and (min-width: 1024px)';
		$tablet: 'all and (min-width: 768px)';
		$mobile: 'all and (max-width: 767px)';
		$small-mobile: 'all and (max-width: 480px)';
	// Media Queries - end

	
	// Font Size - start
	@mixin font-size($sizeValue) {
	  font-size: ($sizeValue * 10) + px;
	  font-size: $sizeValue + rem;
	}
	// Font Size - end


	// border-radius - start
	@mixin border-radius($radius) {
	  -webkit-border-radius: $radius;
	     -moz-border-radius: $radius;
	      -ms-border-radius: $radius;
	          border-radius: $radius;
	}
	// border-radius - end
	
//mixins - end